* {
	font-family: monospace;
	font-size: 12px;
}

window#waybar {
	background-color: #000000;
	color: #FFFFFF;
}
#cpu,
#memory,
#battery,
#pulseaudio {
	margin: 4px;
	background-color: rgba(200,0,255,0.7);
	border-radius : 6px;
}
